/*
Author: Ryan Jablonski
Date: 2/6/24
File: styles.css
*/

/*  CSS Reset */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

/* Style rules for the body section */
body {
    background-color: #f0f8ff;
    font-family: 'poppins', sans-serif;
}

.mobile {
    display: block;
}

/* Style rules for the header section */
header {
    text-align: center;
    color: #fff;
    background-color: #7cb9e8;
}

.tablet-desktop {
    display: none;
}

/*  Style rules for the nav section */
nav {
    text-align: center;
    padding: 20px 0;
    background-color: #7cb9e8;
}

nav ul {
    list-style-type: none;
}

nav li {
    /*display: inline-block;*/
    padding: .2em .5em;
    margin: 1em .6em;
    font-size: 1.3em;
    border-radius: 20px;
    background-color: #fff;
}

nav li a {
    text-decoration: none;
    color: #000;
}

/* Style rules for the main section */
main {
    margin: 2em 0;
}

/* .main-content {
    width: 70%;
    float: left;
} */

.main-content p {
    padding: 1em;
    font-size: 1.3em;
}

#facts {
    text-align: center;
}

#facts ul {
    list-style-type: none;
    font-size: 1.3em;
    margin: 1.25em 0;
}

#facts li {
    margin: 1.25em;
}

#map {
    /* border: #000 solid .3em; */
    max-width: 100%;
}

#map-container.main-content {
    text-align: center;
    /* width: 100%; */
    margin: 4%;
}

img {
    max-width: 100%;
    display: block;
    border-radius: 20px;
    margin: 0 auto;
}

/* Style rules for the footer */
footer {
    /* clear: both; */
    text-align: center;
    font-size: 1.3em;
    background-color: #7cb9e8;
    padding: 55px 0;
}

footer p {
    margin-bottom: 1.25em;
}

footer a {
    display: inline;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    margin: 0 2%;
    padding: 5px 15px;
    border-radius: 20px;
}

/* Media query for tablet viewport */
@media screen and (min-width: 630px) {

    /* Tablet viewport: Show tablet-desktop class, hide mobile class */
    .tablet-desktop {
        display: block;
    }

    /* Tablet viewport: Style rules for the nav area */
    nav li {
        display: inline-block;
        margin: 0;
        background-color: #fff;
        padding: 0 .6em;
        border-radius: 20px;
    }

    /* Tablet Viewport: Styles rules for main area */
    .is-major {
        width: 80%;
        margin: 4% auto;
        background: linear-gradient(#b1b1b1, #fff);
        border: #000 solid 1px;
    }

    .is-major h2 {
        text-align: center;
    }

    .is-major p {
        margin: 3%;
        font-size: 1.3em;
    }

    .volunteer-info h2 {
        text-align: center;
        margin-top: 3%;
    }

    #wv, #ky, #nicaragua {
        margin: 0 5%;
        font-size: 1.3em;
    }
} /************************* End of Tablet viewport *************************/

/* Media query for desktop viewport */
@media screen and (min-width: 1115px) {

    /* Style rules for the nav section */
    nav li:hover {
        background-color: #b1b1b1;
    }

    /*Desktop viewport: Style rules for main section*/
    img {
        float: right;
        margin: 0 7%;
    }

    .main-content {
        float: left;
        width: 50%;
    }

    .main-content, img {
        margin-bottom: 5%;
    }

    .is-major {
        clear: both;
    }

    .volunteer-info {
        clear: both;
        border-top: #000 solid 2px;
    }

    #wv, #ky, #nicaragua {
        width: 25%;
        margin: 2.5% 4%;
        font-size: 1.3em;
        float: left;
    }

    #map-container.main-content {
        width: 100%;
        margin: 2% 0;
    }

    /*Desktop viewport: Style rules for footer*/
    footer {
        clear: both;
    }
} /************************* End of Desktop viewport *************************/