/*
Author: Ryan Jablonski
Date: 1/30/24
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body and image */
body {
    background-color: #e3eaf8;
}

img {
    max-width: 100%;
    display: block;
}

/* Style rule for header content */
header h1 {
    text-align: center;
    font-size: 3em;
    font-family: Georgia, Times, serif;
    padding: 3%;
    color: #101a2d;
}

nav {
    background-color: #1d396d;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #e3eaf8;
    padding: 0.5em 2em;
    text-decoration: none;
}

/*Left off on step 9*/